- name: Add Node Yum repo         
  yum_repository:
    name: nodesource-nodejs
    description: Node.js Packages for x86_64 Linux RPM based distros
    baseurl: https://rpm.nodesource.com/pub_23.x/nodistro/nodejs/x86_64
    gpgkey: https://rpm.nodesource.com/gpgkey/ns-operations-public.key

- name: Install Node.js
  yum:
    name: nodejs

- name: Copy sample app           
  copy:
    src: app.js
    dest: /usr/local/sbin/app.js

- name: Create systemd service file
  template:
    src: sample-app.service.j2
    dest: /lib/systemd/system/sample-app.service
    owner: root
    group: root
    mode: '0644'

- name: Reload systemd daemon
  shell: systemctl daemon-reload

- name: Enable and start sample-app service
  shell: systemctl enable --now sample-app

- name: Restart service as fallback
  shell: systemctl restart sample-app